.main{
	width: 75%;
	margin: 0 auto;
	
}

.main >img{
	margin: 0 auto;
}

.tool{
	border: 1px solid red;
	border-radius: 10px;
}

.tool > p{
	text-align: center;
}

.tool::before{
	display: 
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid red;
}
.tool-wrap{
	/*width: 450px;
	height: 360px;*/
	border: 1px dashed grey;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.
