
.modal,
.modal-xs{
	background-color: rgba(117, 93, 111, .3);
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modalcontent{
	width: 200px;
	height: 90px;
	background-color: rgba(255, 255, 255, .9);
	margin: auto;
	text-align: center;
}



.click{

	color: red;
}

.content{
	text-align: center;
}


.modal-xs > .modalcontent{
	width: 120px;
	height: 140px;
	background-color: blue;
}