*{
	box-sizing: border-box;
}

header{
	width: 70%;
	height: 300px;
	margin: 0 auto;
	padding: 10px 15px;
	background-image: url(images/jupiter.jpg);
	background-color: rgba(2, 0, 47, 1);
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
}


header p{
	width: 30%;
	margin: 0;
	color: rgba(255, 255, 255, .8);
	align-self: flex-end;
	font-style: italic;
}

p,
h2{ 
    text-indent: 3%;
    color: rgba(75, 75, 78, 1);
}
.main{
	width: 70%;
	margin: 0 auto;
}


.image-wrapper{
	/*position: relative;
	border: 1px solid red;*/
	display: flex;
	flex-direction: column;
}

/*img{
	margin: auto;
}*/

.tooltip-wrapper{
	position: absolute;
	/*left: 180px;*/
	display: flex;
	border: 1px dashed grey;
	flex-direction: column;
}

.tooltip > p{
	text-align: center;
	color: rgba(75, 75, 78, 1);
}

.tooltip{
	width: 30%;
	border-radius: 10px;
	background-color: rgba(229, 229, 229, 1);
	border: 2px solid rgba(75, 75, 78, 1);
}

.bottom,
.left,
.right{
	position: absolute;
}

.bottom{
margin: -50px;
}


.top::before,
.top::after,
.bottom::before,
.bottom::after,
.right::before,
.right::after,
.left::before,
.left::after{
	content: ' ';
	position: absolute;
	border: 10px solid transparent;
}

.top::before,
.bottom::before,
.right::before,
.left::before{
	border-bottom: 10px solid rgba(75, 75, 78, 1);
}


.top::after,
.bottom::after,
.right::after,
.left::after{
	border-bottom: 10px solid rgba(229, 229, 229, 1);
}


.top::before{
	left: 50%;
	top: 52px;
	transform: rotate(180deg);
}

.top::after{
	left: 50%;
	top: 49px;
	transform: rotate(180deg);
}

.bottom::before{	
	left: 45%;
	top: -20px;
	transform: rotate(0deg);
}

.bottom::after{
	left: 45%;
	top: -17px;
	transform: rotate(0deg);
}


.right:before{
	left: -20px;
	top: 30%;
	transform: rotate(270deg);
}

.right::after{
	left: -17px;
	top: 30%;
	transform: rotate(270deg);
}
.left:before{
	right: -20px;
	top: 40%;
	transform: rotate(90deg);
}

.left::after{
	right: -17px;
	top: 40%;
	transform: rotate(90deg);
}