

body{
	font-family: 'Arial', sans-serif;
	font-size: 17px;
	line-height: 21px;
	font-weight: normal;
}

*{
	box-sizing: border-box;
}

.container{
	width: 870px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.calm{
	height: 300px;
	width: 420px;
	padding: 10px;
	background-color: rgba(255, 216, 226, .9);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calm p{
	color: rgba(0, 0, 0, .9);
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	padding-top: 5px;
	margin: 0;
}

.calm span{
	font-size: 25px;
	font-weight: normal;
}

.crown{
	height: 50px;
	width: 50px;
	margin: 0 auto;
	background-image: url(images/crown.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.main{
	width: 100%;
	margin-top: 20px;
	padding: 10px 20px; 
	color: rgba(52, 52, 52, 1);
	background-color: rgba(164, 159, 180, .5);
	display: flex;
	flex-direction: column;

}

article > span{
	font-weight: 700;
	font-size: 45px;
	line-height: 35px;
	padding-left: 530px;
	font-style: italic;
}



.exam{
	width: 100%;
	height: 400px;
	margin-top: 20px;
	/*border: 1px dotted red;*/
	display: flex;
	position: relative;	
}

.question{
	
	width: 30%;
	height: 310px;
	font-size: 24px;
	line-height: 35px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	margin: auto;
	color: rgba(0, 0, 0, .9);
	text-transform: uppercase;

}

.exam > div:first-child{
	background-color: rgba(164, 244, 249, .7);
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	position: relative;
	left: -30px;
}

.exam > div:nth-child(2){
	background-color: rgba(255, 92, 205, .7);
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	position: relative;
	right: -30px;
}


.exam > div:last-child{
	height: 350px;
	font-size: 44px;
	line-height: 55px;
	background-color: rgba(196, 116, 246, 1);
	position: absolute;
	top: 20px;
	left: 300px;
}

.question span{
	font-size: 120px;
	line-height: 150px;
	padding-top: 15px;
}

.question button{
	border-radius: 10px;
	background-color: rgba(252, 247, 94, 1);
	border: 2px solid rgba(56, 55, 19, .8);
	box-shadow: inset 0px -4px 13px 3px rgba(56, 55, 19, .7);
}


.modal{
	background-color: rgba(117, 93, 111, .3);
	justify-content: space-around;
}

.modal,
.firstquestion,
.wrong-answer{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}



.firstquestion,
.secondquestion,
.thirdquestion{
	color: rgba(255,255,255, 1);
	flex-direction: column;
	background-color: rgba(117, 93, 111, .9);
}

.firstquestion .info{
	width: 85%;
	margin: auto;
	border-radius: 30px;
	background-color: rgba(196, 195, 208, 1);
}

.secondquestion .info{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(233, 150, 122, 1);
}

 .info >p{
	padding: 0 15px;
}

.answer{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.firstquestion .answer > button{
	height: 450px;
	width: 30%;
	border-radius: 20px;
	border: 5px solid rgba(0, 64, 126, 1);
	background-repeat: no-repeat;
}

.firstquestion .answer > button:first-child{
	background-image: url(images/queen-elizabet.jpg);
	background-position: 45% 0%;
}

.firstquestion .answer > button:nth-child(2){
	background-image: url(images/queen-swees.jpg);
	padding: 0;
}

.firstquestion .answer > button:last-child{
	background-image: url(images/queen-monaco.jpg);
}

.test-quest{
	margin: auto;
	display: flex;
	flex-direction: column;
}

.test-quest > button{
	display: block;
	height: 70px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: rgba(255,255,255, 1);
	border: 1px solid rgba(255,255,255, 1);
	box-shadow: inset 0px -4px 13px 3px rgba(56, 55, 19, .7);
}


.wrong > span{
	display: none;
	color: rgba(255, 3, 72, 1);
	text-transform: uppercase;
	font-size: 25px;
	background-color: rgba(255,255,255, 1);
	border-radius: 5px;
}

.queen-tea{
	width: 80%;
	height: 455px;
	background-image: url(images/tea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 230px 0;
	margin: 0 auto;
	box-shadow: 0px 0px 23px 9px rgba(56, 43, 26, .6);
}

.secondquestion .answer > button{
	height: 50px;
	width: 25%;
	border-radius: 10px;
	justify-content: center;
}

.secondquestion .answer{
	width: 80%;
	margin: 0 auto;
}
/*to do   add styles for buttons*/
